header{
    display: flex;
    justify-content: center;
}

body{
    background: url("assets/background.jpg") no-repeat center center fixed rgba(0, 0, 0, 0.6); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: darken;
    opacity: 1;
}

img{
    border-radius: 10px;
    margin: 20px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.checkboxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

textarea{
    width: 50%;
}

.checkbox-column{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}